<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | Esquire Soya</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">     
    <link rel="shortcut icon" href="images/ico/favicon.ico">
</head>

<body>
	
	<%- include('../partials/header.ejs')  %>	
    <section>
		<div class="container">
			<div class="row">
                

                
				<div class="col-sm-3 padding-right">
					<div class="right-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#chicken">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Chicken
										</a>
									</h4>
								</div>
								<div id="chicken" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#">Contri foul </a></li>
											<li><a href="#">Agric Foul </a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#beef">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Beef
										</a>
									</h4>
								</div>
								<div id="beef" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#">beef</a></li>
											<li><a href="#">beef</a></li>
											<li><a href="#">beef</a></li>
										</ul>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#lamb">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Lamb
										</a>
									</h4>
								</div>
								<div id="lamb" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#">Lamb1</a></li>
											<li><a href="#">lamb2</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Turkey</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Duck</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Goat</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Rabbit</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Game Meat</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Kangaroo</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Buffalo/Bison</a></h4>
								</div>
							</div>
						</div>
					
						<div class="brands_products">
							<h2>Parts</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="#"> <span class="pull-right">(50)</span>available</a></li>
									<li><a href="#"> <span class="pull-right">(56)</span>available</a></li>
									<li><a href="#"> <span class="pull-right">(27)</span>available</a></li>
									<li><a href="#"> <span class="pull-right">(32)</span>available</a></li>
									<li><a href="#"> <span class="pull-right">(5)</span>available</a></li>
									<li><a href="#"> <span class="pull-right">(9)</span>available</a></li>
									<li><a href="#"> <span class="pull-right">(4)</span>available</a></li>
								</ul>
							</div>
						</div>
						
						<div class="price-range">
							<h2>Price Range</h2>
							<div class="well text-center">
								 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
								 <b class="pull-left">0</b> <b class="pull-right">1000</b>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<%- include('../partials/footer.ejs')  %>
	

  
    <script src="js/jquery.js"></script>
	<script src="js/price-range.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>
</html>